.bg-header2 {
	height: 97px;
	background-image: url(../images/bg-header2.png);
	background-size: cover;
	background-position: center center;
	color: white;
	text-transform: uppercase;
	.link {
		font-size: $font-size2;
		padding-top: 0.5rem;
		a {
			color: inherit;
		}
	}
	.big-title {
		font-size: $font-size7;
		font-weight: $font-bold;
		margin-top: 0.4rem;
	}
}