.main {
	.container {
		margin-top: 2rem;
		.title {
			.big-title {
				font-size: $font-size7;
				font-weight: $font-regular;
				a {
					text-decoration: none;		
					color: inherit;
				}
			}
			.categorize {
				margin-left: 10%;
				margin-top: 0.3rem;
				button {
					margin-top: 0.2rem;
					padding: 0.3rem 1rem;
					border-radius: 2rem;
				}
			}
			.watch-all {
				margin-top: 1rem;
				color: $color1;
			}
		}
		.horizontal{
			.horizontal-short{
				@include horizontal-short(4rem);
			}
			.horizontal-long {
				@extend %horizontal-long;
			}
		}	
		.content {
			margin-top: 1.5rem;		
			.card {
				.card-body {
					.card-title {
						a {
							// text-decoration: none;
							color: inherit;
						}
						font-size: $font-size5;
						font-weight: $font-medium;
						color: #333333;
					}
					.card-text.info {
						margin-bottom: 1rem;
						a {
							color: $color1;
							// text-decoration: none;
							font-size: $font-size1;
							font-weight: $font-medium;
						}
						.feedback {
							font-size: $font-size2;
							font-weight: $font-regular;
							color: #999999;
							.saw {
								margin-right: 1rem;
							}
						}
					}
					.card-text.demo {
						font-size: $font-size2;
						font-weight: $font-regular;
						color: #666666;
					}
				}
			}
		}
	}
}