$yellow: #ff9900;
$dark-grey: #2f3b4d;
$light-grey: #e8ecf3;
$grey: #dddddd;

$color1: #00a888;
$color2: #ffaa00;
$color3: #ffad33;

$font: 'Roboto', sans-serif;

$font-size1: 12px; 
$font-size2: 13px; 
$font-size3: 14px;
$font-size4: 15px;
$font-size5: 17px;
$font-size5: 17px;
$font-size6: 20px;
$font-size7: 30px;

$font-regular: 400;
$font-medium: 500;
$font-bold: 700;