.bg-header1 {
	height: 235px;
	background-image: url(../images/bg-header.png);
	background-size: cover;
	background-position: center center;
	margin-bottom: 3rem;
}
.bg-margin {
	margin-top: 50px;
}
.bg-margin2 {
	margin-top: 44px;
}