
@media (max-width: 992px) {
	header {
		.header1 {
			height: 3rem;
			.container {
				.row {
					.logo {
						width: 70px;
						height: 28px;
					}
					.small-nav {
						display: none;
					}
					.search {
						img {
							margin-right: 0.5em;
						}
						input {
							width: 0;
							padding-top: 0.3rem;
							&:focus {
								width: 150px;
							}
						}
					}
					.search:hover input {
						width: 150px;
					}
				}
			}
		}
		nav.navbar {
			padding-top: 0.4rem;
			padding-bottom: 0.4rem;
			.container {
				.navbar-collapse {
					.col-lg.dropbtn {
						a.disabled {
						    pointer-events: none;
						}
						border: 0;
						.container {
							width: 100%;
						}
					}
				}
			}
		}
	}
	.bg-header2 {
		height: 150px;
	}
	.bg-header1 {
		height: 150px;
	}
}
@media (max-width: 576px) {
	.main {
		.container {
			.row.title  {
				.big-title {
					font-size: $font-size6;
				}	
				.watch-all {
					font-size: $font-size3;
					margin-top: 0.3rem;
				}
				.categorize {
					display: none;
				}
			}
			.row.horizontal {
				margin-bottom: 30px;
			}
			.row.content {
				margin-top: 0;
			}
		}
	}
	.dropbtn {
		.container {
			.row {
				.dropdown-content {
					a {
						margin-top: 0.5rem;
						margin-bottom: 0;
					}
				}
			}
		}
	}
	.detail,.search {
		.content {
			margin-top: 0;
		}
	} 
	footer {
		.container {
			img {
				margin-top: 1rem;
				margin-bottom: 1rem;
			}
		}	
	}
}
@media (max-width: 768px) {
	.detail,.search {
		.container {
			.row {
				.left {
					width: 100%;
					margin-left: 0;
					.row.title  {
						.big-title {
							font-size: $font-size6;
							margin-left: 15px;
						}	
						.watch-all {
							font-size: $font-size3;
							margin-top: 0.3rem;
							margin-right: 15px;
						}
					}
					.row.horizontal {
						margin-bottom: 30px;
						margin-left: 0px;
					}
				}
				.right {
					width: 100%;
					margin-right: 0;
					.advertisement {
						img {
							display: none;
						}	
					}
				}
			}
		}
	}
}
@media (max-width: 576px) {
  .offcanvas-collapse {
    position: fixed;
    top: 90px;
    bottom: 0;
    width: 100%;
    // padding-right: 1rem;
    // padding-left: 1rem;
    overflow-y: auto;
    background-color: #ff9900;
    z-index: 2;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(-120%);
  }
  .offcanvas-collapse.open {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem);  
  }
}