.right button {
	font-size: $font-size1;
	margin-top: 0.5rem;
	margin-right: 0.5rem;
	padding: 0.3em 1em;
	border-radius: 2em;
}
.main button {
	margin-top: 0.2rem;
	padding: 0.3rem 1rem;
	border-radius: 2rem;
}